<form action='login' method='post'>
  <div class='form-group'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <label for='login'>e-Mail:</label>
    <input name='login' />
    <label for='password'>Password:</label>
    <input name='password' type='password'/>
    <button class='btn btn-success' type ="submit">Login</button>
  </div>
</form>
<%= link_to "register", user_new_path %>
<sub>Session#index</sub>
<sub>Find me in app/views/session/index.html.erb</sub>
